# Dependencies
node_modules

# Build output
dist
dist-ssr
build

# Environment
.env
.env.local
.env.*.local

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# TypeORM
*.sqlite